---
import { RecipeType, type Recipe } from "../shared/models";

type RecipeFile = {
    fileUrl: string;
    recipe: Recipe;
};

const files = import.meta.glob("../recipes/*.json", { eager: true });
const entries = Object.entries(files);

const recipes: RecipeFile[] = [];

for (const [path, module] of entries as [string, Recipe][]) {
    const fullFileName = path;

    // strip everything before last /
    const fileName = fullFileName.substring(fullFileName.lastIndexOf("/") + 1);

    // remove .json
    const fileUrl = fileName.substring(0, fileName.length - 5);

    recipes.push({ fileUrl, "recipe": module});
}

---

<div class="container">
    <main>
        <h3>Recipe List</h3>

        <h6>Mains</h6>
        <ul>
            {
                recipes.filter(recipe=>recipe.recipe.type == RecipeType.Main).map((recipe) => (
                    <li>
                        <a href={`/recipes/recipes/${recipe.fileUrl}`}>{recipe.recipe.name}</a>
                    </li>
                ))
            }
        </ul>

        <h6>Protein</h6>
        <ul>
            {
                recipes.filter(recipe=>recipe.recipe.type == RecipeType.Protein).map((recipe) => (
                    <li>
                        <a href={`./recipes/${recipe.fileUrl}`}>{recipe.recipe.name}</a>
                    </li>
                ))
            }
        </ul>

        <h6>Pasta</h6>
        <ul>
            {
                recipes.filter(recipe=>recipe.recipe.type == RecipeType.Pasta).map((recipe) => (
                    <li>
                        <a href={`./recipes/${recipe.fileUrl}`}>{recipe.recipe.name}</a>
                    </li>
                ))
            }
        </ul>

        <h6>Soup</h6>
        <ul>
            {
                recipes.filter(recipe=>recipe.recipe.type == RecipeType.Soup).map((recipe) => (
                    <li>
                        <a href={`./recipes/${recipe.fileUrl}`}>{recipe.recipe.name}</a>
                    </li>
                ))
            }
        </ul>

        <h6>Misc</h6>
        <ul>
            {
                recipes.filter(recipe=>recipe.recipe.type == RecipeType.Misc).map((recipe) => (
                    <li>
                        <a href={`./recipes/${recipe.fileUrl}`}>{recipe.recipe.name}</a>
                    </li>
                ))
            }
        </ul>
    </main>
</div>